.card-sorter {
  h4 {
    margin: 0 15px 0 0;
  }

  .reset {
    text-decoration: none;
    line-height: 1;
  }
}

.sort-option {
  font-size: .75rem;
  color: rgba(0,0,0,.5);
  font-weight: bold;
}

@media (max-width: 767px) {
  h4 {
    font-size: 1rem;
  }
}

@media (max-width: 595px) {
  .card-sorter {
    button, .reset {
      font-size: .75rem;
    }
  }
}

@media (max-width: 500px) {
  .card-sorter {
    flex-direction: column;

    h4 {
      margin-bottom: 6px;
    }
  }
}