@import '../node_modules/bootstrap/scss/bootstrap.scss';

html, body {
  width: 100vw;
  height: 100vh;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #a3c5e0;
}

.row {
  gap: 16px;
  padding: 16px;
}